* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'iconfont';
  src: url('../iconfont.eot');
  src: url('../iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont.woff') format('woff'),
  url('../iconfont.ttf') format('truetype'),
  url('../iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
ul, li {
  list-style: none;
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
  font-family: '微软雅黑';
  -webkit-user-select: none;
 	overflow: hidden;
}
.lis{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/1.jpg) no-repeat;
  background-size: 100%  100%;
}
.lis-class{
	animation: yidong 0.5s ease-in-out forwards;
}
.lis2{
	background: #f0d8b3;
	left: 100%;
}
.lis2-class{
	animation: yidongf 0.5s ease-in-out forwards;
}
@keyframes yidong{
	0%{
		transform: translate3d(0,0,0);
	}
	100%{
		transform: translate3d(-100%,0,0);
	}
}
@media screen and (min-width: 120px) {
  html {
    font-size: 16px;
  }
}

@keyframes yidongf{
	0%{
		transform: translate3d(-100%,0,0);
	}
	100%{
		transform: translate3d(0,0,0);
	}
}
@media screen and (min-width: 120px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

select{
	background: transparent;
	color: #fff;
	border: 0;
	font-size: 0.35rem;
	font-family: '微软雅黑';
}
select option{
	color: #b9a691;
	background: #fff;
}
.header {
  border-bottom: 1px solid #000;
  position: relative;
  background: #746255;
  background: url(../img/2.jpg);
  background-size:auto 100% ;
  height:1.15rem;
  text-align: center;
  line-height: 1.15rem;
  color: #fff;
  font-size: 0.35rem;
}

.set{
	width: 1.2rem;
	position: absolute;
	left: 0.15rem;
	top: 0.2rem;
}
.lis-img{
	width: 1.4rem;
}
.bianji{
	width: 1.2rem;
	position: absolute;
	right: 0.15rem;
	top: 0.2rem;
}
.san{
	width: 0.25rem;
	position: absolute;
	left: 4.6rem;
	top: 0.52rem;
}
.img{
	width: 1.2rem;
	position: absolute;
	right: 1.5rem;
	top: 0.2rem;
}
.header input {
	width: 100%;
	height: 0.6rem;
	display: block;
	outline: none;
	
}
.input{
	padding: 0.3rem;
	padding-bottom: 0;
	position: relative;
	
}
.ss{
	position: absolute;
	left: 0.48rem;
	top: 0.4rem;
	width: 0.5rem;
}
#text{
	background: transparent;
	width: 100%;
	height: 0.7rem;
	border: 0;
	color: #ab8a72;
	font-size: 0.4rem;
	padding-left: 0.8rem;
	outline: none;
}
#text1{
	background: transparent;
	width: 100%;
	height: 0.7rem;
	border-color: #ba926a;
	border-radius: 1rem;
	color: #ab8a72;
	font-size: 0.3rem;
	padding-left: 0.8rem;
	outline: none;
	background: #fff;
}
/*.lis2{
	display: none;
	background: #f0d8b3;
}*/
.todolist {
  padding: 0.4rem;
  /*overflow: hidden;*/
}

.todolist li {
  background: #fff;
  padding-left: 0.6rem;
  height: 1rem;
  line-height: 1rem;
  position: relative;
  margin-bottom: 0.2rem;
  border-radius: 0.5rem;
  opacity: 0.6;
  left: 0;
  transition: 0.4s all ease-in-out;
}
.todolist .del2 .content{
	color: #ccc;
	text-decoration: line-through;
}
.todolist li .del {
  height: 0.5rem;
  width: 0.5rem;
  background: url(../img/14.png) no-repeat;
  background-size: 0.5rem auto;
  position: absolute;
  right: 0.2rem;
  top: 0.3rem;
}
.todolist .del2 .del{
	background: url(../img/k3.png) no-repeat;
	background-size: 0.5rem auto;
}
.todolist li .guding{
	position: absolute;
	left: -0.5rem;
	top: 0.2rem;
	width: 1rem;
	
}
.todolist li .img-san{
	display: none;
	position: absolute;
	right: 0.25rem;
	top:0.2rem;
	width: 1.5rem;
	z-index: 9;
}
.todolist .shan .img-san{
	display: block;
}
.footer{
	width: 100%;
	height: 1rem;
	background: transparent;
	position: fixed;
	left: 0;
	bottom: 0;
}
.footer div {
  width: 33.3333%;
  text-align: center;
  float: left;
  height: 1rem;
  line-height: 1rem;
  
  text-align: center;
}
.ani-delete{
	transform: translateX(110%);
}
.footer div i{
	display: inline-block;
	font-size: 0.6rem;
	color: #725946;
}
.footer .active i{
	color: red;
}
.ani-delete{
	transition: delete .8s ease both;
}
.clearall{
	padding: 0.3rem;
	margin: 0.2rem 0;
	font-size: 12px;
	text-decoration: underline;
}
@keyframes delete{
	0%{
		left: 0;
	}
	100%{
		left: 20rem;
	}
}













